#include	"g2_resources.h"
G2_CL_COMMON	TEXTFILE	"g2_cl_common.c"
G2_CL_SRC01	TEXTFILE	"g2_cl_src01.c"
G2_CL_SRC02	TEXTFILE	"g2_cl_src02.c"
G2_CL_SRC03	TEXTFILE	"g2_cl_src03.c"
G2_CL_SRC04	TEXTFILE	"g2_cl_src04.c"
G2_CL_SRC05	TEXTFILE	"g2_cl_src05.c"
G2_CL_SRC06	TEXTFILE	"g2_cl_src06.c"
G2_CL_SRC07	TEXTFILE	"g2_cl_src07.c"
G2_CL_SRC08	TEXTFILE	"g2_cl_src08.c"
G2_CL_SRC09	TEXTFILE	"g2_cl_src09.c"
G2_CL_SRC10	TEXTFILE	"g2_cl_src10.c"
G2_CL_SRC11	TEXTFILE	"g2_cl_src11.c"
G2_CL_SRC12	TEXTFILE	"g2_cl_src12.c"
G2_CL_SRC13	TEXTFILE	"g2_cl_src13.c"
G2_CL_SRC14	TEXTFILE	"g2_cl_src14.c"
G2_CL_SRC15	TEXTFILE	"g2_cl_src15.c"
G2_CL_SRC16	TEXTFILE	"g2_cl_src16.c"
G2_CL_SRC17	TEXTFILE	"g2_cl_src17.c"
G2_CL_SRC18	TEXTFILE	"g2_cl_src18.c"
G2_CL_SRC19	TEXTFILE	"g2_cl_src19.c"
G2_CL_SRC20	TEXTFILE	"g2_cl_src20.c"
G2_CL_SRC21	TEXTFILE	"g2_cl_src21.c"
G2_CL_SRC22	TEXTFILE	"g2_cl_src22.c"
G2_CL_SRC23	TEXTFILE	"g2_cl_src23.c"
